In [59]:
import pandas as pd

In [60]:
df = pd.read_csv('titanic.csv')

In [61]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

We do not require the features Passenger, Name, SibSP, Parch, Ticket Cabin, Embarked for the classification

In [62]:
newdf = df.drop(['PassengerId', 'Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [63]:
newdf.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

Checking for NULL values

In [64]:
newdf.isnull().any()

Survived    False
Pclass      False
Sex         False
Age          True
Fare        False
dtype: bool

Filling NULL entries

In [81]:
newdf = newdf.fillna(newdf['Age'].mean())

In [82]:
newdf.isnull().any()

Survived    False
Pclass      False
Sex         False
Age         False
Fare        False
dtype: bool

Encode categorical values

In [83]:
from sklearn.preprocessing import LabelEncoder

In [84]:
label_sex = LabelEncoder()
newdf['Sex'] = label_sex.fit_transform(newdf['Sex'])
newdf.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

Separate Input and Output data

In [85]:
x = newdf.drop('Survived',axis='columns')
y = newdf['Survived']

In [86]:
x.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [87]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Split Data into Training and Testing

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8,random_state=1)

In [90]:
print(x_train)

     Pclass  Sex        Age     Fare
301       3    1  29.699118  23.2500
309       1    0  30.000000  56.9292
516       2    0  34.000000  10.5000
120       2    1  21.000000  73.5000
570       2    1  62.000000  10.5000
..      ...  ...        ...      ...
715       3    1  19.000000   7.6500
767       3    0  30.500000   7.7500
72        2    1  21.000000  73.5000
235       3    0  29.699118   7.5500
37        3    1  21.000000   8.0500

[712 rows x 4 columns]

In [91]:
print(y_train)

301    1
309    1
516    1
120    0
570    1
      ..
715    0
767    0
72     0
235    0
37     0
Name: Survived, Length: 712, dtype: int64

In [92]:
print(x_test)

     Pclass  Sex        Age     Fare
862       1    0  48.000000  25.9292
223       3    1  29.699118   7.8958
84        2    0  17.000000  10.5000
680       3    0  29.699118   8.1375
535       2    0   7.000000  26.2500
..      ...  ...        ...      ...
796       1    0  49.000000  25.9292
815       1    1  29.699118   0.0000
629       3    1  29.699118   7.7333
421       3    1  21.000000   7.7333
448       3    0   5.000000  19.2583

[179 rows x 4 columns]

In [93]:
print(y_test)

862    1
223    0
84     1
680    0
535    1
      ..
796    1
815    0
629    0
421    0
448    1
Name: Survived, Length: 179, dtype: int64

Model Training

In [94]:
from sklearn import tree

In [95]:
model = tree.DecisionTreeClassifier()

In [96]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

Model Testing

In [99]:
# Score on Training Set
pred_score = model.score(x_train,y_train)
print(pred_score)

0.9845505617977528

In [101]:
# Score on Test Set
pred_score = model.score(x_test,y_test)
print(pred_score)

0.7597765363128491